$sizes: (
    size-1: (
            xs: 6,
            lg: 4
    ),
    size-small-1: (
            xs: 6,
            lg: 7
    ),
    size-2: (
            xs: 6,
            lg: 3
    ),
    size-small-2: (
            xs: 5,
            lg: 5
    ),
    size-3: (
            xs: 6,
            lg: 2
    ),
    size-small-3: (
            xs: 5,
            lg: 5
    ),
);

$font-sizes: (
    size-1: (
            xs: 1.375rem,
            lg: 1.75rem
    ),
    size-small-1: (
            xs: 1.25rem,
            lg: 1.25rem
    ),
    size-2: (
            xs: 1.375rem,
            lg: 1.375rem
    ),
    size-small-2: (
            xs: 1rem,
            lg: 1rem
    ),
    size-3: (
            xs: 1.375rem,
            lg: 1rem
    ),
    size-small-3: (
            xs: 1rem,
            lg: 1rem
    ),
);

$styles: (
    style-0: linear-gradient(-135deg, #959595 0%, #C6C6C6 100%),
    style-1: linear-gradient(-135deg, #FCE38A 0%, #F38181 100%),
    style-2: linear-gradient(45deg, #FF7676 0%, #F54EA2 100%),
    style-3: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%),
    style-4: linear-gradient(-135deg, #622774 0%, #C53364 100%),
    style-5: linear-gradient(-135deg, #7117EA 0%, #EA6060 100%),
    style-6: linear-gradient(-135deg, #43E695 0%, #3BB2B8 100%),
    style-7: linear-gradient(-135deg, #F030C1 0%, #6094EA 100%),
    style-8: linear-gradient(44deg, #5E2563 0%, #65799B 100%),
    style-9: linear-gradient(44deg, #57CA85 0%, #194F68 100%),
    style-10: linear-gradient(45deg, #1BCEDF 0%, #5B247A 100%),
);


.star {
    $root: &;
    display: block;
    position: relative;
    width: 100%;
    max-width: percentage(1 / $grid-columns);

    @each $class, $size in $sizes {
        &--#{$class} {
            // max-width: percentage($size / $grid-columns);

            #{$root}__content {
                @each $breakpoint, $font-size in map_get($font-sizes, $class) {
                    @include media-breakpoint-up($breakpoint) {
                        font-size: $font-size;
                    }
                }
            }

            @each $breakpoint, $columns in $size {
                @include media-breakpoint-up($breakpoint) {
                    max-width: percentage($columns / $grid-columns);
                }
            }
        }
    }

    @each $class, $style in $styles {
        &--#{$class} {
            #{$root}__content {
                background-image: map_get($styles, $class);
            }
        }
    }

    &:before {
        content: '';
        width: 100%;
        padding-top: 100%;
        display: block;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        padding: 1em;
        top: ($grid-gutter-width/2);
        right: ($grid-gutter-width/2);
        bottom: ($grid-gutter-width/2);
        left: ($grid-gutter-width/2);
        // box-shadow: 0 30px 60px 0 rgba(0,0,0,0.50);
        border-radius: 4px;
        text-align: center;
        text-shadow: 0 3px 3px rgba(112,112,112,0.50);
        z-index: 1;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            content: '';
            background-image: url(../images/star.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            @media
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-image: url(../images/star@2x.png);
            }
        }
    }
    
    &__icon {
        position: relative;
        display: inline-block;
        width: 25%;
        max-width: 5em;
        margin-bottom: 0.8em;
        
        &:after {
            content: '';
            display: block;
            padding-top: 100%;
            width: 100%;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__title {
        font-weight: 700;
        line-height: 1.02;
        font-size: inherit;
        margin-bottom: 0.5em;
        letter-spacing: 0;
    }

    &__amount {
        font-weight: 700;
        font-size: 80%;
        letter-spacing: 0;
        line-height: 1.02;
    }

    &--edit {
        #{$root}__content {
            font-size: 1.625em;
        }
    }
}

.gradient {
    @each $class, $style in $styles {
        &-#{$class} {
            background-image: map_get($styles, $class);
        }
    }
}

.wall {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 (($grid-gutter-width/2)*-1) 1.25em;
}
