.loading {
    margin: 2rem 0;
    text-align: center;

    .loader {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;

        div {
            display: inline-block;
            position: absolute;
            left: 6px;
            width: 13px;
            background: #fff;
            animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

            &:nth-child(1) {
                left: 6px;
                animation-delay: -0.24s;
            }

            &:nth-child(2) {
                left: 26px;
                animation-delay: -0.12s;
            }

            &:nth-child(3) {
                left: 45px;
                animation-delay: 0s;
            }
        }

        @keyframes loader {
            0% {
                top: 6px;
                height: 51px;
            }

            50%, 100% {
                top: 19px;
                height: 26px;
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 0.928em 1.642em;
    border: 2px solid #fff;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1.285;
    letter-spacing: 0.214em;
    text-transform: uppercase;
    background-image: linear-gradient(103deg, #4090ef, #9c9a42, #4090ef);
    background-size: 200% 100%;
    background-position-x: 0;
    color: #fff;
    transition: .25s ease-in-out;
    cursor: pointer;

    &:hover, &.active {
        text-decoration: none;
        background-position-x: 100%;
        color: #fff;
    }

    &--thin {
        border-width: 1px;
    }

    &--outline {
        background-image: linear-gradient(103deg, transparent 50%, #4090ef, #9c9a42);
        background-size: 300% 100%;

        &:hover, &.active {
            background-position-x: 100%;
        }
    }

    &--no-border {
        border: 0;
    }

    &--unstyled {
        border: 0;
        background-image: none;
        background-size: 0;
        background-color: transparent;
    }
}