$primary: #ffe200;
$secondary: #2d215e;

$body-bg: #2d215e;
$body-color: #fff;

$link-color: #fff;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        xl: 1200px,
);

$grid-gutter-width: 40px;

$font-family-base: Boston, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.555;
