@font-face {
    font-family:'Boston';
    src: url('BostonBold.eot');
	src: url('BostonBold.eot?#iefix') format('embedded-opentype'),
		url('BostonBold.woff2') format('woff2'),
		url('BostonBold.woff') format('woff'),
		url('BostonBold.ttf') format('truetype'),
		url('BostonBold.svg#BostonBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}