@font-face {
    font-family:'Boston';
    src: url('Boston Italic.eot');
	src: url('Boston Italic.eot?#iefix') format('embedded-opentype'),
		url('Boston Italic.woff2') format('woff2'),
		url('Boston Italic.woff') format('woff'),
		url('Boston Italic.ttf') format('truetype'),
		url('Boston Italic.svg#n RegularIt') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}